.image-viewer {
    #swiper {
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    #swiper > .slide {
        scroll-snap-align: start;
    }
}
